/* ==========================================================================
Variables
========================================================================== */
:root {
  /* Colors */
  --black-12: #1f1f1f;
  --black-40: #666;
  --black-58: #949494;
  --black-92: #ededed;
  --black-96: #f6f6f6;
  --white: #fff;
  --green: #077100;
  --cyan: #00a09c;
  --turquoise: #007c73;
  --color-focus: var(--black-58);
  --color-h2: var(--turquoise);
  --color-link: var(--green);
  --color-link--hover: var(--cyan);
  --color-link--nav: var(--black-40);
  --color-link--nav--hover: var(--black-58);
  --color-low-emphasis: var(--black-40);
  --color-text: var(--black-12);
  --color-nav-bg: var(--black-92);
  --color-page-bg: var(--black-96);
  --color-header: var(--white);
  /* Dimensions */
  --height-header: 3.25rem;
  --height-line: 1.625rem;
}


/* ==========================================================================
Fonts
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?71eh5z');
  src:  url('../fonts/icomoon.eot?71eh5z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?71eh5z') format('woff2'),
    url('../fonts/icomoon.ttf?71eh5z') format('truetype'),
    url('../fonts/icomoon.woff?71eh5z') format('woff'),
    url('../fonts/icomoon.svg?71eh5z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="Icon--"],
[class*=" Icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Icon--phone:before {
  content: "\e0cd";
}
.Icon--close:before {
  content: "\e5cd";
}
.Icon--mail:before {
  content: "\e159";
}
.Icon--arrow:before {
  content: "\e317";
}


/* ==========================================================================
Utility Classes
========================================================================== */
.u-padding-left {
  padding-left: 1rem;
}

.u-padding-bottom {
  padding-bottom: 1rem;
}

.u-half-padding-bottom{
  margin: 0 0 0.66rem;
}

.u-double-padding-bottom {
  padding-bottom: 2rem;
}

.u-indent-left {
  padding-left: 1.2rem;
}

.u-caption-right {
  text-align: left;
  margin-top: 0rem;
  padding: 0rem;
}

.u-tight-column {
  padding: 0 calc(50% - 16rem) 0;
}

.u-center-align {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.u-left-align {
  text-align: left;
}

.u-padding-right {
  padding-right: 1rem;
}

.u-reflect-x {
  transform: scaleX(-1);
}

.u-no-margin {
  margin: 0;
}

.u-margin-bottom {
  margin: 0rem 0rem 2rem 0;
}
.u-whitespace-pre {
  white-space: pre-wrap;
}

.full-width {
  width: 94vw;
  position: relative;
  left: 50%;
  right: 50%;
  height: 85vh;
  margin-left: -47vw;
  margin-right: -47vw;
}

.full-width-NJaffordable {
  width: 94vw;
  position: relative;
  left: 50%;
  right: 50%;
  height: auto;
  margin-left: -47vw;
  margin-right: -47vw;
}

/* ==========================================================================
Layout
========================================================================== */
html {
  background: var(--color-page-bg);
  box-sizing: border-box;
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 18px;
  line-height: var(--height-line); }


/*
  html.is-no-overflow {
  overflow: hidden; }
*/


html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: inherit;
}

header {
  align-items: center;
  background: var(--color-header);
  display: flex;
  height: var(--height-header);
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  margin: 0 auto 1rem auto;
  max-width: 68rem;
  width: calc(100% - 1rem);
}

section {
  padding-top: 1rem;
}

.Section--2col {
  display: grid;
  grid-template-columns: 1fr;
}

.Section--2col :nth-child(even) {
  justify-self: center;
}


.tablepress {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1em;
  border: none;
}

@media only screen and (min-width: 42em) {
.tablepress, .tablepress-caption {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}
.tablepress tr:hover { 
  background-color: #EDEDED;
}


}
.tablepress td, .tablepress th {
  padding: 8px;
  border: none;
  background: 0 0;
  text-align: left;
  float: none!important;
}
.tablepress tbody td, .tablepress tfoot th {
  border-top: 1px solid #ddd;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
}


video::-webkit-media-controls-panel {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.7609637605042017) 6%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 100%)!important;
}

.videoWrapper {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



.map-card {
  background-color: white;
  padding: 2rem 1% 2rem 1%;
  border-radius: 0.5rem;
  margin: 1rem;
  }






/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
}

.cover {
  color: white;
  text-shadow: 0px 2px 12px #000000;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 20vh;
  margin-top: 25vh;
  width: 100%; 
  text-align: center;
}

.quote {
  color: #808080;
  font-style: italic;
  font-weight:300;
  font-size: 1.4rem;
  margin: 0 2rem 2rem 2rem;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
}

h2 {
  color: var(--color-h2);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 0.125rem;
  width: 100%; 
  text-align: center;
}




h3 {
  color: var(--color-h2);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1;
  padding: 0 1rem;
  margin-bottom: 0.2rem;
}

h4 {
 
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 1rem;
}

p {
  font-size: 1rem;
  margin: 0 0 var(--height-line);
  padding: 0 1rem;
}

ul {
  font-size: 1rem;
  margin: -1rem 0 var(--height-line);
  padding: 0 1rem 0 3.75rem;
}


#list-wrapper ol {
  counter-reset: item;
  list-style: none;
}

#list-wrapper ol li {
  margin-bottom: 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-indent: -2rem;
}
ol {
  margin: 0;
  margin-top: -1rem;
  padding: initial;
  padding-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#list-wrapper ol li:before {
  content: counter(item);
  counter-increment: item;
  color: #505050;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-right: 1rem;
  width: 22px;
  border: none;
  background: #e5e5e5;
  text-align: center;
  text-indent: initial;
  font-size: 14px;
  font-weight: 600;
  border-radius: 24px;
}

li {
  padding: 0 0 0 0.5rem;
}

small {
  align-items: center;
  color: var(--color-low-emphasis);
  display: flex;
  margin: 0 0 0.5rem;
  padding: 0 1rem;
}

.small-text {
  color: var(--color-low-emphasis);
  font-size: 0.9rem;
  text-align: center;
}


.retro-header {
  color:#555555;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.5;
}
.retro-body {
  color:#6e6e6e;
 
  line-height: 1.25;
}
/* ==========================================================================
Buttons & Links
========================================================================== */
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
}

a {
  color: var(--color-link);
  font-weight: 500;
  position: relative;
  z-index: 10;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s; }
a:hover {
  color: var(--color-link--hover);
  text-decoration: underline;
}

button:focus,
a:focus {
  outline-style: dashed;
  outline-color: var(--color-focus);
  outline-width: 1px;
}


/* ==========================================================================
Figures & Images
========================================================================== */

#background-pan{
  height:150%;
  width:150%;
  background: url(/folio/img/maps/Heartlands-cover-higher-res.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: slowpan 150s linear 0s infinite alternate;
  position: fixed;
}
 
@media only screen and (max-width: 600px) {
  #background-pan {
    -webkit-animation: slowpan 35s linear 0s infinite alternate;
  }
}


@-webkit-keyframes slowpan {

  0% {
  
    transform: translate(15%, 10%) scale(1.3);
  }

  100% {
  transform: translate(-5%, -5%) scale(1.4);
}

  /* 0% {
    transform:translateX(-15%) scale(1.3);
    transform:translateY(0%) scale(1.3);
  }
  
  100% {
    transform:translateX(20%) scale(1.4);
    transform:translateY(-20%) scale(1.4);
  } */
  
}



figure {
  margin: 0;
}

.gallery-caption {
  display: none;
}

.visible-caption {
 color: #000;
 transition: none;
 text-decoration: none;
 }

 .no-hover:hover {
  color: none;
  text-decoration: none;
 filter: saturate(1.2);
}




a {
  color: var(--color-link);
  font-weight: 500;
  position: relative;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s; }
a:hover {
  color: var(--color-link--hover);
  text-decoration: underline;
}



.my-gallery{
  padding: 0 1rem 0rem 1rem;
 }

.fify-fifty{
 float: left;
 width:49%;
 margin-bottom: 2%;
}

.one-column{
  float: left;
  width:100%;
  margin-bottom: 2%;
 }

.first{
 margin-right: 2%;
}




@media screen and (max-width:600px) {
  
  .my-gallery a{
   float: left;
   width:100%;
 }

}

@media screen and (max-width:400px) {
}



figcaption {
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 1rem;

}

img {
  display: block;
  width: 100%;
}


/* ==========================================================================
Nav Menu
========================================================================== */






a.anchor {
  display: block;
  position: relative;
  top: -450px;
  visibility: hidden;
}


.thing-with-anchor:before { content: ''; display: block; position: relative; width: 0; height: 3.5em; margin-top: -3.5em }





h1 a:hover {
  text-decoration: none;
}

nav {
  align-items: flex-end;
  background: var(--color-nav-bg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  padding: 3rem 2rem 2rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  visibility: visible;
  width: 100%; }
nav.is-hidden {
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s;
  visibility: hidden; }

.Nav-btn--open {
  align-items: flex-end;
  justify-content: space-between;
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  height: 2rem;
  padding: 0.5rem 0;
  position: relative;
  width: 2rem;
}

.Nav-btn--open span {
  background: #1f1f1f;
  height: 2px;
  transition: width 0.2s;
  width: 2rem; }
.Nav-btn--open span:last-of-type {
  width: 1.25rem; }
.Nav-btn--open:hover span:last-of-type {
  width: 2rem; }

.Nav-btn--close {
  height: 3rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
}

nav a {
  color: var(--color-link--nav);
  font-size: 1.25rem;
  margin: 0.5rem 0; }
nav a:hover {
  color: var(--color-link--nav--hover);
  text-decoration: none;
}

nav a::after {
  background: transparent;
  bottom: 2px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  transition: background 0.2s; }
nav a:hover::after {
  background: var(--color-link--nav--hover); }


/* ==========================================================================
Tiles
========================================================================== */


.Tile-wrapper {
  display:grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


dsZs

.Tile {
  cursor: pointer;
  flex: 1 0 auto;
  margin: 1rem 1rem 0;
  max-width: calc(100% - 2.5rem);
  width: 12.75rem;
}

.Tile-wrapper .mix {
  max-width: 400px; /* Set the maximum width for the figures */
}



.Tile-image {
  background: var(--color-header);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 80%;
  transition: border-radius 0.2s; }
.Tile:hover .Tile-image {
  border-radius: 1rem; }



  .Tile:hover a .tile-image p .ahhh  {
    pointer-events: none;
    color: none;
    text-decoration: none;
  }

  .ahhh:hover {
    text-decoration: none;
}

.ahh:hover {
  text-decoration: underline !important;
}

/* ==========================================================================
Resume and retrospective
========================================================================== */
.resume {
background-color: white;
padding: 2rem 2% 2rem 2%;
border-radius: 0.5rem;
margin: 0 auto 1rem auto;
    max-width: 50rem;
}


.retro {
  background-color: #e7e7e7;
  padding: 1rem 1% 1rem 1%;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  }

/* ==========================================================================
Articles
========================================================================== */
article {
  background: var(--color-page-bg);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: var(--height-header); }
article.is-hidden {
  display: none; }

article section {
  padding: 2rem calc(50% - 25rem) 0;
}

article h2 {
  margin-bottom: var(--height-line);
  padding: 0 1rem;
}

.Article-scrim {
  background: var(--color-header);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
 /* transition: opacity 0.3s, visibility 1s;
       idk how to fix the flicker - still a cool fade effect between pages?*/
       
      }
.Article-scrim.is-hidden {
  opacity: 0;
      /*  transition: opacity 0.3s, visibility 0s 0.3s;     idk how to fix the flicker - still a cool fade effect between pages?*/
  visibility: hidden;
 }


/* ==========================================================================
Article Footer
========================================================================== */
footer {
  align-self: flex-end;
  background: var(--color-nav-bg);
  display: grid;
  flex: 1;
  gap: 3rem;
  grid-template-columns: 1fr;
  height: 5.875rem;
  justify-content: space-between;
  padding: 0;
}

.Footer-btn--back {
  display: flex;
  flex-wrap: wrap;
  height: 1.5rem;
  margin: auto;  
  width: 1.5rem;
}

.Footer-btn--back span {
  background: var(--color-link--nav);
  display: block;
  height: 0.5rem;
  margin: 0.125rem;
  transition: color 0.2s, transform 0.2s;
  width: 0.5rem; 
  border-radius: 2px;
}

.Footer-btn--back:hover span {
  background: var(--color-text);
  transform: scale(1.2); }

.Footer-btn--prev,
.Footer-btn--next {
  color: var(--color-link--nav);
  line-height: 1.5; }
.Footer-btn--prev {
  text-align: left; }
.Footer-btn--next {
  text-align: right; }

.Footer-btn-text {
  display: none;
}

.Footer-btn--prev b,
.Footer-btn--next b {
  font-size: 0.625rem;
  text-transform: uppercase;
  transition: color 0.2s; }
.Footer-btn--prev:hover b,
.Footer-btn--next:hover b {
  color: var(--color-text); }

.Footer-btn--prev span,
.Footer-btn--next span {
  color: var(--color-link);
  font-size: 0.875rem;
  font-weight: 500;
  transition: color 0.2s; }
.Footer-btn--prev:hover span,
.Footer-btn--next:hover span {
  color: var(--color-link--hover);
  text-decoration: underline; }

.Footer-btn--prev::before,
.Footer-btn--next::before {
  content: "\e317";
  display: block;
  float: left;
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 1.5rem 0;
  transition: color 0.2s; }
.Footer-btn--next::before {
  float: right;
  transform: scaleX(-1); }
.Footer-btn--prev:hover::before,
.Footer-btn--next:hover::before {
  color: var(--color-text); }




 




/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
Media Queries
========================================================================== */
@media only screen and (min-width: 30em) {
  header {
    padding: 0 1rem;
  }

  .Nav-btn--open {
    display: none;
  }

  nav {
    background: none;
    display: block;
    height: initial;
    padding: 0;
    position: relative;
    width: initial; }
  nav.is-hidden {
    transform: none;
    visibility: visible; }

  nav a {
    color: var(--color-link); }
  nav a:hover {
    color: var(--color-link--hover); }
  nav a:not(:last-of-type) {
    margin-right: 1rem; }

  nav a:hover::after {
    background: var(--color-link--hover);
  }

  .Nav-btn--close {
    display: none;
  }

  main {
    width: calc(100% - 5%);
  }
}



@media only screen and (min-width: 55em) {
  .about-pic {
    margin-top: 1rem;
  }

.about-pic {
  margin-top: 4rem;
}
}

@media only screen and (min-width: 55em) {
  .Section--2col {
    grid-template-columns: 1fr 1fr;
  }
  
  .Section--2col :nth-child(even) {
    justify-self: end;
  }
  
  footer {
    padding: 0 3rem;
  }

  .Footer-btn-text {
    display: block;
  }
}